*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: black;
}
.nav-logo{
    height: 80px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo img{
    height: 80px;
    width: 80px;
}
.brand-name{
    height: 80px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-name label{
    font-size:1.9rem;
    font-weight: bold;
    color: white;
}
.nav-menu{
    height: 80px;
    width: 60%;
}
.nav-menu nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-menu nav ul{
    display: flex;
    gap: 80px;
    line-height: 80px;

}
.nav-menu nav ul li{
    list-style-type: none;
}
.nav-menu nav ul li a{
    border: 1px solid transparent;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 10px;
    color: white;
    transition: 0.5s ease;
}
.nav-menu nav ul li a:hover{
    border: 1px solid white;
}
.humbager{
    height: 80px;
    width: 10%;
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: white;
}
/* End Navbar */
/* contact */
.contact-us-cover{
    height: 400px;
    width: 100%;
    position: relative;
}
.contact-us-cover img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}
.contact-us-secondcover img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}
.form{
    height: 400px;
    width: 70%;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 3px 5px 3px black;
}
.form h2{
    margin-left: 30px;
    width: 100%;
}
.form-item{
    height:360px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.address{
    height: 360px;
    width: 40%;
}
.address-img{
    height: 90px;
    width: 100%;
}
.address-item{
    width: 100%;
    height: fit-content;
}
.address-item table{
    width: 70%;
    margin:auto;
}
.address-item table tr td{
    padding: 7px 10px;
}
.address-item table tr td p{
    text-align: left;
}
.form-item form table tr td{
    padding: 5px 30px;
}
.form-item form table [type="text"]{
    height: 40px;
    width: 100%;
    border: 2px solid black;
}
.form-item form table textarea{
    border: 2px solid black;
}
.form-item form table [type="submit"]{
    padding: 7px 50px;
    color: white;
    font-weight: bold;
    background-color:crimson;
    cursor: pointer;
}
.contact-us-secondcover{
    height: 400px;
    width: 100%;
}
.contact-us-secondcover img{
    margin-left: 20px;
    margin-top: 180px;
    float: left;
    height: 200px;
    width: 350px;
}
/* End content */
/* Footer */
.footer{
    height: 280px;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-item1{
    height: 250px;
    width: 25%; 
}
.footer-item1 h4{
    font-size: 1.5rem;
    margin-top: 40px;
    color:white;
}
.footer-item1 p{
    margin-top: 10px;
    font-size: 0.8rem;
    color: white;
}
.footer-item2{
    height: 250px;
    width: 15%; 
}
.footer-item2 h4{
    font-size: 1.5rem;
    margin-top: 40px;
    color: white;
}
.footer-item2 ul li {
    list-style-type: none;
    padding: 3px 0;
    color: white;
}
.footer-item2 ul a {
    text-decoration: none;
    outline: none;
    font-size: 0.8rem;
}
.footer-item3{
    height: 250px;
    width: 23%; 
}
.footer-item3 h4,.footer-item4 h4{
    font-size: 1.5rem;
    margin-top: 40px;
    color:white;
}
.footer-item3 p,.footer-item4 p{
    margin-top: 10px;
    font-size: 0.8rem;
    color: white;
}
.footer-item4{
    height: 250px;
    width: 20%; 
}
.footer article{
    color: white;
    font-size: 0.8rem;
}

@media (max-width:667px),(max-width:1180px) {
    .nav-logo{
        width: 30%;
    }
    .brand-name{
        width: 50%;
    }
    .brand-name label{
        font-size: 2rem;
    }
    .humbager{
        display: block;
        width: 20%;
    }

    .humbager.active .bar:nth-child(2){
        opacity: 0;
    }
    .humbager.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .humbager.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .bar:nth-child(1){
        margin-top: 25px;
    }

    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: 53vh;
        z-index: 1;
        transition: 0.3s;
    }
    .nav-menu nav ul{
        position:inherit;
        gap: 0;
        top: 80px;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;

    }
    .nav-menu.active{
        left: 0;
    }
    /* End Navbar */
    /* footer */
    .footer{
        height:750px;
    }
    .footer article{
        text-align: center;
    }
    .footer-item1,.footer-item3{
        height: 160px;
    }
    .footer-item2{
        height: 200px;
    }
    .footer-item1 h4{
        margin-top: 5px;
        text-align: center;
    }
    .footer-item2 h4,.footer-item3 h4,.footer-item4 h4{
        margin-top: 0;
        text-align: center;
    }
    .footer-item2 ul,.footer-item3 p,.footer-item4 p,.footer-item1 p{
        text-align: center;
    }
    .footer-item2 ul a li {
        padding: 3px 0;
    }
    .footer-item4{
        height:150px;
    }
    .footer-item1,.footer-item2,.footer-item3,.footer-item4{
        width: 80%;
    }
}

@media only screen and (max-width:1180px) {
    .form{
        width: 90%;
    }
    .form-item form table{
        margin-left: 30px;
        width: 50% ;
    }
}


@media only screen and (max-width:667px){
    .contact-us-cover,.contact-us-secondcover{
        display: none;
    }
    .form{
        position:unset;
        width:100%;
        display: block;
        height:fit-content;
        transform:none;
    }
    .form-item{
        width: 100%;
        height: auto;
    }
    .form-item form table{
        width: 100%;
        margin-left:0;
    }
    .form-item table tr td{
        display: flex;
        flex-direction: column;
    }
    .form-item form table [type="text"]{
        width: 100%;
    }
    .form-item form table textarea{
        width: 100%;
    }
    .form-item form table [type="submit"]{
        width: 100%;
        border-color: black;
    }
    .address{
        width: 100%;
    }
    .address-item{
        width: 100%;
        margin-top: 30px;
    }
    .form h2{
        margin-left: 0;
    } 
} 
